<nav class="navbar">
    <ul class="navbar-list">
        <li class="navbar-item"><a href="/posts">Home</a></li>
        <li class="navbar-item"><a href="/newPost">New Post</a></li>
        <li class="navbar-item"><a href="/random">Random</a></li>
    </ul>
</nav>